* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{   
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 7px;
    background: url(/imagens/37130.jpg);
    background-size:1920px;
}

header{
    color: white;
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
ul{
    display: flex;
    gap: 70px;
    list-style: none;
    padding: 30px;
    padding-right: 100px;
    top: 15px;
    right: 100px;
    z-index: 3;
}
.glow-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: #ffffff;
    border-radius: 25px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}
/* Efeito de brilho ao passar o mouse */
.glow-button:hover {
    background-color: #2980b9;
    box-shadow: 0 0 10px #3498db;
}
.logo h1{
    position: absolute;
    font-size: 50px ;
    top: 10px;
    left: 30px;  
}
.logo h1:nth-child(1)
{
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 2px #ffffff;

}
.logo h1:nth-child(2)
{
    color:#03a9f4;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
    0%,100%{

        clip-path: polygon(0 47%, 11% 43%, 22% 42%, 31% 45%, 40% 50%, 48% 56%, 57% 61%, 68% 64%, 78% 63%, 86% 58%, 94% 55%, 100% 51%, 100% 100%, 0 100%);

    }
    50%{

        clip-path: polygon(0 65%, 11% 70%, 23% 71%, 33% 67%, 41% 61%, 50% 55%, 61% 47%, 71% 43%, 81% 41%, 92% 42%, 96% 45%, 100% 50%, 100% 100%, 0 100%);

    }
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
}

h2{
    font-size: 56px;
    font-family: poppinsmedium;
}

span{
    color: #8ac279;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
    position: absolute;
    top: 350px
}

img{
    position: absolute;
    top: 100px;
    width: 580px;
    left: 110vh;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
aside p{
    color: #8ac279;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #8ac279;
}
